body {
  /* background-color: rgb(238, 238, 238); */
  /* background-color: #9fa1a3; */
  background-color: #FDF4DC;
}

#genre-form-container {
  text-align: center;
}

#page-title {
  text-align: center;
  font-size: 50px;
  font-family: 'Lucida Grande', sans-serif;
  color: black;
  text-transform: uppercase;
}

.genre-div {
  /* border-radius: 25px; */
  /* border: 1rem solid; */
  border: solid #365577;

  /* border-color: #2E8B57; */
  /* padding: 1rem 1rem; */
  margin: 25px;
  /* background-color: white; */
  background-color: black;
}

.header {
  display: flex;
  width: 100%;
}
.header-div {
  /* margin-left: 1px; */
  flex: 1;
  color: white;
  background-color: #365577;
  font-size: large;
  font-weight: bold;
  font-family: 'Lucida Grande', sans-serif;
  text-decoration: underline;
  /* border: 2px solid blue; */
}

.header-div:nth-child(2) {
  /* flex: 1; */
  text-align: right;
  font-family: 'Lucida Grande', sans-serif;
}

.block {
  /* border: solid black; */
}

.form-container-outer {
  text-align: center;
  background-color: #365577;
}

.form-container-inner {
  display: inline-block;
  width: 40%;
  /* border:solid #9fa1a3; */
  background-color: white; 
}

.book-field {
  margin: 0.5rem;
}

.books {
  background-color: #9fa1a3;
  border: solid #365577;
}

.card {
  border-radius: 25px;
  /* border: 1px solid black; */
  margin: 1rem;
  padding: 1rem 1rem;
  font-family: 'Lucida Grande', sans-serif;
  background-color: white;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.footer{
  text-align: right;
  background-color: #365577;
  /* border: 1px solid yellow; */
  /* margin: 1rem; */
}

button, input[type=submit] {
  cursor: pointer;
}

.no-display {
  display: none;
}