body {
  background-color: rgb(238, 238, 238);
}

h1 {
  text-align: center;
  font-size: 70px;
  font-family: 'Lucida Grande', sans-serif;
  color: black;
}

#genre-form-container {
  text-align: center;
}

#genre-delete {
  position: absolute;
  right: 0;
}

.parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.genre-div {
  border: 1px solid black;
  padding: 1rem 1rem;
  margin-bottom: 25px;
}

.add-book-to-genre {
  text-align: center;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
}

.add-book-form {
  text-align: center;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
}

.no-display {
  display: none;
}

.book-button-form {
  display: block;
  text-align: center;
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
}